.card {
  margin-top: 60px;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.reverse {
  display: flex;
  flex-direction: row-reverse;
}

.card__description {
  width: 480px;
}

.card__description--title {
  width: 300px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  line-height: 56px;
  color: #171a1fff;
}

.card__description--sub-title {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #9095a0ff;
}

.card__btns {
  margin-top: 30px;
  display: flex;
  gap: 12px;
}

.card__btn--primary {
  width: 115px;
  height: 44px;
  padding: 0 16px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins, sans-serif;
  font-size: 16px;

  background-color: #6355d8ff;
  color: #fff;
  opacity: 1;
  border: transparent;
  border-radius: 6px;
  transition: all 600ms ease-in;
}

.card__btn--primary:hover {
  color: #fff;
  background-color: #4d3ed3ff;
}

.card__btn--primary:active {
  background-color: #3d2dc7ff;
}

.card__btn--primary:disabled {
  opacity: 0.4;
}

.card__btn--secondary {
  height: 44px;
  padding: 0 16px;

  color: #6355d8ff;
  background: #00000000;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: Poppins, sans-serif;
  font-size: 16px;

  border: transparent;
  border-radius: 6px;
  opacity: 1;
  transition: all 600ms ease-in;
}

.card__btn--secondary:hover {
  color: #fff;
  background-color: #4d3ed3ff;
}

.card__btn--secondary:active {
  background-color: #3d2dc7ff;
}

.card__btn--secondary:disabled {
  opacity: 0.4;
}

.card .card__img-container {
  width: 480px;
  height: 400px;
}

.card__img {
  border-radius: 12px;
}
