.header {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 28px;
}

.header__title {
  font-family: "Montserrat";
  font-size: 56px;
  color: #6355d8ff;
  font-weight: 600;
}

.header__description {
  font-family: Poppins, sans-serif;
  font-size: 20px;
  text-align: center;
  color: #9095a0ff;
  max-width: 780px;
  line-height: 30px;
}

.header__btn {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.header__btn--left {
  width: 200px;
  height: 52px;
  padding: 0 20px;
  opacity: 1;
  border: transparent;
  border-radius: 6px;
  background-color: #6355d8ff;
  color: #fff;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  transition: all 600ms ease-in;
}

.header__btn--left:hover {
  color: #fff;
  background-color: #4d3ed3ff;
}

.header__btn--left:active {
  color: #fff;
  background-color: #3d2dc7ff;
}

.header__btn--left:disabled {
  opacity: 0.4;
}

.header__btn--right {
  width: 200px;
  height: 56px;
  padding: 0 20px;
  border: 1px solid #6355d8ff;
  border-radius: 6px;
  color: #6355d8ff;
  background-color: #fff;
  opacity: 1;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-family: Poppins;
  font-weight: 600;
  transition: all 600ms ease-in;
}

.header__btn--right:hover {
  color: #fff;
  background-color: #4d3ed3ff;
}

.header__btn--right:active {
  color: #fff;
  background-color: #3d2dc7ff;
}

.header__btn--right:disabled {
  opacity: 0.4;
}

.header__img-container {
  max-width: 1176px;
  width: 100%;
  height: 600px;
  margin-bottom: 60px;
  padding: 0 24px;
}

.header__img {
  border-radius: 12px;
  filter: contrast(130%);
}

.hide {
  display: none;
}
