a {
  color: black;
  text-decoration: none;
}

.nav {
  height: 64px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: Poppins, sans-serif;
}

.nav__logo {
  width: 100px;
  height: 64px;
  object-fit: contain;
}

.nav__links {
  display: flex;
  gap: 20px;
}

.nav__sign-in {
  font-family: Poppins, sans-serif;
  display: flex;
  gap: 20px;
}
