.pricingCard {
  width: 408px;
  height: 426px;
  background: #fff;
  border: 1px solid #fff;
  border-radius: 12px;
  box-shadow: 0 4px 9px #171a1f, 0 0 2px #171a1f;
}

.pricingCard__header {
  padding: 28px 24px;
}

.pricingCard__header--title {
  font-size: 40px;
}

.pricingCard__header--description {
  font-size: 16px;
}

.pricingCard__header--price {
  font-size: 40px;
}
